<template name="opentrackMenu">  

    <div class="cards-opentrack">
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/competitions.jpg" alt="Clubs">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Competitions</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.races.list'}}">See all</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/athletes.jpg" alt="Clubs">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Athletes</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.athletes.list'}}">See all</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/clubs.jpg" alt="Clubs">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Sports Clubs</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.clubs.list'}}">See all</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/categories.jpg" alt="Sprint">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Categories</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.categories.list'}}">See all</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/federations.jpg" alt="Sprint">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Federations</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.federations.list'}}">See all</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/disciplines.jpg" alt="Sprint">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Disciplines</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.disciplines.list'}}">See all</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/countries.jpg" alt="Map">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Countries</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.countries.list'}}">See all</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/cards/competitionFeatures.jpg" alt="Checklist">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Comp. Features</span>
                    <p>
                        <a href="{{ pathFor 'opentrack.competitionFeatures.list'}}">See all</a>
                    </p>
                </div>
            </div>

        </div>
</template>
